<!-- <div *ngIf="exibir; else outroConteudo">
    <h1>Conteúdo se for VERDADEIRO</h1>
  </div>  

<ng-template #outroConteudo>
    <h1 style="color: red;">Conteúdo se for FALSO</h1>
  </ng-template>
  
  <ul>
    <li *ngFor="let nome of nomes; index as i; count as c; odd as odd">{{i}}) {{nome}} [{{c}}] {{odd}}</li>
  </ul>
   -->

   <!-- <elemento [ngSwitch]="tipoAutomovel">
    <div *ngSwitchCase="'moto'">Foi selecionado MOTO</div>
    <div *ngSwitchCase="'carro'">Agora CARRO</div>
    <div *ngSwitchDefault>conteúdo padrão</div>
  </elemento> -->

  
  <!-- <div [ngStyle]="{'color': condicao?'blue':'red', 'background-color': cor}">
    <p>Aqui vai o meu texto</p>
  </div> -->
  

  <!-- <div [ngClass]="{'ativo': isActive, 'desativado': !isActive}">
    <p>Testando ngClass</p>
  </div>
   -->