<div class="main background">
  <div class="card border-primary" style="width: 500px">
    <form #myForm="ngForm" class="text-primary" (ngSubmit)="onSubmit(myForm)">
      <div class="card-header bg-primary text-bg-primary">
        <b>Exercício 3</b>
      </div>

      <div class="form-floating m-3">
        <input class="form-control border-primary" id="1" placeholder="" type="number" name="id" ngModel>
        <label for="1">Id</label>
      </div>
      <div class="form-floating m-3">
        <input class="form-control border-primary" id="2" placeholder="" name="nome" ngModel>
        <label for="2">Nome</label>
      </div>
      <!-- email e idade -->
      <div class="form-floating m-3">
        <input class="form-control border-primary" id="3" placeholder=""  type="email" name="email" ngModel>
        <label for="3">Email</label>
      </div>
      <div class="form-floating m-3">
        <input class="form-control border-primary" id="4" placeholder="" type="number" name="idade" ngModel>
        <label for="4">Idade</label>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg mb-3">Submit</button>
      </div>
      <ol>
        <li *ngFor="let aluno of alunos">
          {{aluno.nome}} - {{aluno.idade}}
        </li>
      </ol>
    </form>
  </div>
</div>

